* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
  
img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}
  
body {
    min-block-size: 100vh;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
}
  
:root {
    /*Primary*/
    --strong-Cyan: hsl(171, 66%, 44%);
    --light-Blue: hsl(233, 100%, 69%);

    /*Neutral*/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}











.attribution {
    font-size: 0.5rem; 
    text-align: center; 
}

    .attribution a { 
    color: var(--light-Blue); 
}