* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
  
img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}
  
body {
    min-block-size: 100vh;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
    background: var(--white);
    margin: 0 auto;
}
  
:root {
    /*Primary*/
    --strong-Cyan: hsl(171, 66%, 44%);
    --strong-Cyan-shadow: hsl(171, 64%, 35%);
    --light-Blue: hsl(233, 100%, 69%);
    --light-Blue-shadow: hsl(233, 50%, 51%);

    /*Neutral*/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: hsl(0, 0%, 100%);
    
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    width: clamp(240px, 45vw, 500px);
    font-size: 0.8rem;
    color: var(--grayish-blue);
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

header {
    background: url(./Assets/images/bg-header-desktop.png);
    background-size: cover;
    text-align: center;
    padding: 6rem 4rem;
}

header > p {
    max-width: 450px;
}

.button-ios, .button-mac {
    width: clamp(150px, 150px, 300px);
    color: var(--white);
    border-radius: 25px;
    border: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.button-ios {
    background-color: var(--strong-Cyan);
    box-shadow: 1px 3px 2px 0px var(--strong-Cyan-shadow);
}

.button-mac {
    background-color: var(--light-Blue);
    box-shadow: 1px 3px 2px 0px var(--light-Blue-shadow);
}

main {
    padding: 0 4rem;
    text-align: center;
}

.computer {
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem 10rem 0rem;
}

.computer__text {
    max-width: 50%;
    text-align: left;
}

.computer__text h3 {
    text-align: left;
}

.computer__text > div p{
    width: clamp(100px, 270px, 300px);
    text-align: left;
}

.access > p {
    padding-bottom: 3rem;
}

.supercharge-tools, .logos {
    width: clamp(100px, 90vw, 1300px);
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.tools-item {
    width: clamp(100px, 300px, 350px);
}

.tools-item > img {
    max-width: 30px;
    padding-bottom: 1.5rem;
}

.tools-item > p {
    width: clamp(100px, 275px, 350px);
}

.logos {
    padding: 10rem 0;
}

.footer {
    width: clamp(300px, 100vw, 1920px);
    background-color: hsla(202, 11%, 66%, 0.349);
    justify-content: space-around;
    align-items: center;
}

.footer img {
    max-width: 50px;
}









.attribution {
    display: none;
    font-size: 0.5rem; 
    text-align: center; 
}

    .attribution a { 
    color: var(--light-Blue); 
}


@media screen and (max-width: 480px){
    header {
        background: url(./Assets/images/bg-header-mobile.png) no-repeat;
        background-size: cover;
    }

    .button-ios, .button-mac {
        width: clamp(240px, 90%, 400px);
    }
}

@media screen and (max-width: 1150px){
    .computer__text {
        margin-top: 2rem;
    }

    .computer__text h3, .computer__text div p {
        text-align: center;
    }

    .computer__text > div p{
        width: clamp(240px, 45vw, 500px);
    }
}